---
layout: layout
title: Research
---

<p> My primary research interests are numerical analysis, more precisely geometric numerical integration, and stochastic modelling. A common theme is the use of tools and methods from combinatorics and algebra. More details can be found in the papers linked to below. A good starting point is perhaps the survey paper "On algebraic structures of numerical integration on vector spaces and manifolds". </p>

<p> My collaborators include <a href="http://hans.munthe-kaas.no">Hans Munthe-Kaas</a>, 
<a href="http://www.icmat.es/kurusch">Kurusch Ebrahimi-Fard</a>, 
<a href="http://math.univ-bpclermont.fr/~manchon/">Dominique Manchon</a>, 
<a href="http://www.math.u-bordeaux1.fr/~pdelmora/">Pierre Del Moral</a>,  
<a href="http://www.macs.hw.ac.uk/~simonm/">Simon Malham</a> and 
<a href="http://www.macs.hw.ac.uk/~anke/">Anke Wiese</a>. </p>

<hr>

<h3> Publications </h3>

{% include publications.html %}

<hr>

<h3> Conferences etc. </h3>

<h4> Recent and upcoming </h4>
<ul> 
  <li>
    <div id="conf">
      <a href="http://www.icmat.es/congresos/MZV-School/"><name>School on Multiple Zeta Values, Multiple Polylogarithms and  
Quantum Field Theory</name></a>, 
      <place>ICMAT, Madrid, Spain</place>, 
      <date>October 7&mdash;11, 2013</date>
    </div>
  </li>

  <li>
    <div id="conf">
      <a href="http://wmatem.eis.uva.es/scicade2013/"><name>SciCADE 2013</name></a>, 
      <place>Valladolid, Spain</place>, 
      <date>September 16&mdash;20, 2013</date>
    </div>
  </li>
  
  <li>
    <div id="conf">
      <a href="http://smai.emath.fr/cemracs/cemracs13/"><name>CEMRACS 2013 Summer School, Modelling and simulation of complex systems: stochastic and deterministic approaches</name></a>, 
      <place>CIRM, Marseille, France</place>, 
      <date>July 22&mdash;26, 2013</date>
    </div>
  </li>
</ul>


<a href="#Older" data-toggle="collapse" data-target="#content"><h4>Older</h4></a>
<div id="content" class="collapse"> {% include conferences.html %}</div>

<hr>

<h3> PhD thesis </h3>

<div id="pub">
<a href="assets/files/phdthesis.pdf"><name> Lie&mdash;Butcher series and geometric numerical integration on manifolds </name><br>
</a>
<authors>A. Lundervold</authors>,
<journal> University of Bergen, 2011<br>
</div>
