---
layout: layout
title: Research
---

<p> My primary research interests are related to algebraic and combinatorial aspects of geometric numerical integration and stochastic modelling.

Some key tools and concepts: the combinatorics of <a href="http://en.wikipedia.org/wiki/Tree_(graph_theory)">trees</a> and <a href="http://en.wikipedia.org/wiki/Partition_of_a_set">partitions</a>, <a href="http://en.wikipedia.org/wiki/Pre-Lie_algebra">pre-Lie</a> and post-Lie algebras, <a href="http://en.wikipedia.org/wiki/Hopf_algebra">Hopf algebras</a>, Lie group integrators, Lie&mdash;Butcher series, and flows on <a href="http://en.wikipedia.org/wiki/Homogeneous_space">homogeneous manifolds</a>.

<p> More details can be found in the papers linked to below. A good starting point is perhaps the survey paper <a href="http://arxiv.org/abs/1112.4465"><em>On algebraic structures of numerical integration on vector spaces and manifolds</em></a>. </p>

<p> Collaborators include <a href="http://hans.munthe-kaas.no">Hans Munthe-Kaas</a>, 
<a href="http://www.icmat.es/kurusch">Kurusch Ebrahimi-Fard</a>, 
<a href="http://math.univ-bpclermont.fr/~manchon/">Dominique Manchon</a>, 
<a href="http://www.math.u-bordeaux1.fr/~pdelmora/">Pierre Del Moral</a>,  
<a href="http://www.macs.hw.ac.uk/~simonm/">Simon Malham</a> and 
<a href="http://www.macs.hw.ac.uk/~anke/">Anke Wiese</a>. </p>

<hr>

<h3> Publications </h3>

{% include publications.html %}

<hr>

<h3> Conferences etc. </h3>

<h4> Recent and upcoming </h4>
<ul> 

  <li>
    <div id="conf">
      <name>Visit to <a href="http://math.univ-bpclermont.fr/~manchon/">Dominique Manchon </name></a>,
      <place>Laboratoire de Mathematiques, Universit&eacute; Blaise Pascal, Clermont-Ferrand, France</place>, 
      <date>October 29&mdash;December 13, 2013</date>
</div>
  </li>

  <li>
    <div id="conf">
      <name>Workshop on <a href="http://analysis.math.uni-potsdam.de/isw/InternationalScientificWorkshop.html"> </name>Renormalisation from Quantum Field Theory to Random and Dynamical Systems</a>,
      <place>University of Potsdam, Germany</place>, 
      <date>November 7&mdash;November 9, 2013</date>
</div>
  </li>

  <li>
    <div id="conf">
      <a href="http://www.icmat.es/congresos/MZV-School/"><name>School on Multiple Zeta Values, Multiple Polylogarithms and  
Quantum Field Theory</name></a>, 
      <place>ICMAT, Madrid, Spain</place>, 
      <date>October 7&mdash;11, 2013</date>
    </div>
  </li>
</ul>

<a href="#Older" data-toggle="collapse" data-target="#content"><h4>Older</h4></a>
<div id="content" class="collapse"> {% include conferences.html %}</div>

<hr>

<h3> PhD thesis </h3>

<div id="pub">
<a href="assets/files/phdthesis.pdf"><name> Lie&mdash;Butcher series and geometric numerical integration on manifolds </name><br>
</a>
<authors>A. Lundervold</authors>,
<journal> University of Bergen, 2011<br>
</div>
