<ul>
<li>
<div id="conf">
<name>Visit to DAMTP</name>, 
<a href="http://www.damtp.cam.ac.uk/"><place>Centre for Mathematical Sciences, University of Cambridge, UK</place></a>, 
<date>December 4&mdash;8, 2011  </date>
</div>
</li>

<li>
<div id="conf">
<name>Visit to <a href="">Universit&eacute; Blaise Pascal</a></name>, 
<place>Clermont-Ferrand, France</place>, 
<date>May 9&mdash;13, 2011</date>
</div>
</li>

<li>
<div id="conf">
<a href=""><name>MaGIC 2011</name></a>, 
<place>Finse, Norway</place>, 
<date>March 1&mdash;4, 2011</date>
</div>
</li>

<li>
<div id="conf">
<a href=""><name>International Conference on Combinatorics and Control</name></a>, 
<place>La Cristalera, Spain</place>, 
<date>June 20&mdash;25, 2010</date>
</div>
</li>

<li>
<div id="conf">
<a href=""><name>European Science Foundation's Forward Look on Mathematics and Industry</name></a>, 
<place>Madrid, Spain</place>, 
<date>April 26&mdash;27, 2010</date>
</div>
</li>

<li>
<div id="conf">
<a href=""><name>School on Combinatorics and Control</name></a>, 
<place>Benasque, Spain</place>, 
<date>April 12&mdash;16, 2010</date>
</div>
</li>

<li>
<div id="conf">
<a href=""><name>Workshop on Combinatorics and Control</name></a>, 
<place>Madrid, Spain</place>, 
<date>April 6&mdash;9, 2010</date>
</div>
</li>

<li>
<div id="conf">
<a href=""><name>Trimester on Combinatorics and Control</name></a>, 
<place>Madrid, Spain</place>, 
<date>April 6&mdash;June 25, 2010</date>
</div>
</li>

<li>
<div id="conf">
<a href=""><name>MaGIC 2010</name></a>, 
<place>Ustaoset, Norway</place>, 
<date>March 2&mdash;5, 2010</date>
</div>
</li>

<li>
<div id="conf">
<a href=""><name>Visit to Universidad de Zaragoza</name></a>, 
<place>Zaragoza, Spain</place>, 
<date>February 15&mdash;28, 2010</date>
</div>
</li>

<li>
<div id="conf">
<a href=""><name>Visit to Heriot-Watt University</name></a>, 
<place>Edinburgh, Scotland</place>, 
<date>December 6&mdash;10, 2009</date>
</div>
</li>

<li>
<div id="conf">
<a href=""><name>SciCADE 2009</name></a>, 
<place>Beijing, China</place>, 
<date>May 25&mdash;29, 2009</date>
</div>
</li>

<li>
<div id="conf">
<a href=""><name>Ecole th&eacute;matique sur les op&eacute;rades</name></a>, 
<place>CIRM, Luminy, France</place>, 
<date>April 20&mdash;24, 2009</date>
</div>
</li>

<li>
<div id="conf">
<a href=""><name>MaGIC 2009</name></a>, 
<place>Lillehammer, Norway</place>, 
<date>March 3&mdash;6, 2009</date>
</div>
</li>

<li>
<div id="conf">
<a href=""><name>Visit to Institut de Recherche Math&eacute;matique Avanc&eacute;e, Universit&eacute; de Strasbourg</name></a>, 
<place>Strasbourg, France</place>, 
<date>Jan&mdash;Feb, 2009</date>
</div>
</li>

<li>
<div id="conf">
<a href=""><name>KoMiN 2008</name></a>, 
<place>Bergen, Norway</place>, 
<date>November 7&mdash;9, 2008</date>
</div>
</li>

<li>
<div id="conf">
<a href=""><name>M&eacute;thodes num&eacute;riques et alg&eacute;bres de Hopf d'arbres</name></a>, 
<place>Universit&eacute; Blaise Pascal, Clermont-Ferrand, France</place>, 
<date>October 23&mdash;24, 2008</date>
</div>
</li>

<li>
<div id="conf">
<a href=""><name>Foundations of Computational Mathematics</name></a>, 
<place>Hong Kong, China</place>, 
<date>June 16&mdash;26, 2008</date>
</div>
</li>

<li>
<div id="conf">
<a href=""><name>Conf&eacute;rence Alg&eacute;bre combinatoire et Arbres</name></a>, 
<place>Lyon, France</place>, 
<date>May 26&mdash;30</date>
</div>
</li>

<li>
<div id="conf">
<a href=""><name>MaGIC 2008</name></a>, 
<place>Renon, Bolzano, Italy</place>, 
<date>February 18&mdash;21, 2008</date>
</div>
</li>

<li>
<div id="conf">
<a href=""><name>KoMiN 2007</name></a>, 
<place>Oslo, Norway</place>, 
<date>November 2&mdash;4</date>
</div>
</li>

<li>
<div id="conf">
<a href=""><name>MaGIC 2010</name></a>, 
<place>Ustaoset, Norway</place>, 
<date>March 2&mdash;5</date>
</div>
</li>

<li>
<div id="conf">
<a href=""><name>Nasjonalt algebramøte</name></a>, 
<place>Oslo, Norway</place>, 
<date>November 1&mdash;2, 2007</date>
</div>
</li>

<li>
<div id="conf">
<a href=""><name>The Nordic Conference in Topology</name></a>, 
<place>Trondheim, Norway</place>, 
<date>November 24&mdash;25, 2006</date>
</div>
</li>

<li>
<div id="conf">
<a href=""><name>KoMiN 2006</name></a>, 
<place>Trondheim, Norway</place>, 
<date>November 3&mdash;5, 2006</date>
</div>
</li>

<li>
<div id="conf">
<a href=""><name>Workshop on Triangulated Categories</name></a>, 
<place>Leeds, UK</place>, 
<date>August 13&mdash;19, 2006</date>
</div>
</li>

<li>
<div id="conf">
<a href=""><name>Fifth NRW Topology Meeting</name></a>, 
<place>Bielefeld, Germany</place>, 
<date>April 28&mdash;29, 2006</date>
</div>
</li>

<li>
<div id="conf">
<a href=""><name>25th Anniversary of MPIM</name></a>, 
<place>Bonn, Germany</place>, 
<date>April 1&mdash;5, 2006</date>
</div>
</li>

<li>
<div id="conf">
<a href=""><name>Guest of Prof. Stefan Schwede</name></a>, 
<place>Mathematisches Institut, Rheinischen Friedrich-Wilhelms-Universit&auml;t Bonn, Germany</place>, 
<date>March 31&mdash;May 5, 2006</date>
</div>
</li>

</ul>
