<div class="container">
  <footer class="footer">
    <div class="row">
      <div class="span4">
        <a href="mailto:alexander.lundervold@gmail.com" onClick="recordOutboundLink(this, 'Outbound Links', 'email'); return false;"><img src="/assets/ico/ic_gmail.png" width="25px" alt="email"> </a> 
	<a href="http://arxiv.org/find/all/1/au:+lundervold_alexander/0/1/0/all/0/1"><img src="/assets/ico/ic_arxiv.png" width="20px" alt="arxiv"/></a>
	<a href="http://scholar.google.com/citations?user=3mfrDLYAAAAJ&hl=en"><img src="/assets/ico/ic_gscholar.png" width="20px" alt="scholar"/></a>
        <a href="https://github.com/alu042" onClick="recordOutboundLink(this, 'Outbound Links', 'Github'); return false;"><img src="/assets/ico/ic_github.png" width="20px" alt="github"> </a> 
	<a href="http://www.librarything.com/profile/alu042"><img src="/assets/ico/ic_book.png" width="20px" alt="librarything"/></a>
	<div class="pull-right" style="font-size:12px;"><a href="/README.html" style="color:inherit">About</a></div>
      </div> 
    </div>
  </footer>
</div>

</div>


<!-- Google analytics
-------------------------------------------------->

     <script>
       (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
      
      ga('create', 'UA-15872375-5', 'lundervold.com');
      ga('send', 'pageview');
    </script>


<!-- Javascript 
-------------------------------------------------->

    <script type="text/javascript" src="//code.jquery.com/jquery.js"></script>
    <script type="text/javascript" src="js/bootstrap.min.js"></script> 
    <script type="text/javascript" src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>

</body>
</html>
