<div class="navbar navbar-default navbar-fixed-top">
  <div class="navbar-inner">
      <a class="brand pull-right" href="/README.html"><i style:"float:right;" class="glyphicon glyphicon-info-sign" alt="info"></i></a>

    <div class="container">
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
	<span class="icon-bar"></span>
	<span class="icon-bar"></span>
	<span class="icon-bar"></span>
      </a>

      <div class="nav-collapse">
	<ul class="nav navbar-nav">

	  {% if page.url == "index.html" %}<li class="active">{% else %}<li>{% endif %} <a href="index.html">Home</a></li>

	  {% if page.url == "research.html" %}<li class="active">{% else %}<li>{% endif %} <a href="research.html">Research</a></li>

	  {% if page.url == "teaching.html" %}<li class="active">{% else %}<li>{% endif %} <a href="teaching.html">Teaching</a></li>

	  {% if page.url == "news.html" %}<li class="active">{% else %}<li>{% endif %} <a href="news.html">News</a></li>

	  {% if page.url == "cv.html" %}<li class="active">{% else %}<li>{% endif %} <a href="cv.html">CV</a></li>

	</ul>
      </div>
    </div>
  </div>
</div>
