<div id="pub">
<a href="http://arxiv.org/abs/1112.4465"><name> On algebraic structures of numerical integration on vector spaces and manifolds </name><br>
</a>
<authors>A. Lundervold and H.Z. Munthe-Kaas</authors>,
<journal>IRMA Lectures in Mathematics and Theoretical Physics, 2013<br>
<links> <a href="http://arxiv.org/abs/1112.4465">arXiv version</a> </links>
</div>

<!-- ---------------------------------------------- -->

<div id="pub">
<a href="http://link.springer.com/article/10.1007/s10208-013-9167-7"><name> On post-Lie algebras, Lie&mdash;Butcher series and moving frames </name><br>
</a>
<authors>H.Z. Munthe-Kaas and A. Lundervold</authors>,
<journal> Foundations of Computational Mathematics, Volume 13, Issue 4, 2013<br>
<links> <a href="http://arxiv.org/abs/1203.4738">arXiv version</a> </links>
</div>

<!-- ---------------------------------------------- -->

<div id="pub">
<a href="http://link.springer.com/article/10.1007/s10208-012-9130-z"><name> Backward error analysis and the substitution law for Lie group integrators </name><br>
</a>
<authors>A. Lundervold  and H.Z. Munthe-Kaas</authors>,
<journal> Foundations of Computational Mathematics, Volume 13, Issue 2, 2013 <br>
<links> <a href="http://arxiv.org/abs/1106.1071">arXiv version</a> </links>
</div>

<!-- ---------------------------------------------- -->

<div id="pub">
<a href="http://rspa.royalsocietypublishing.org/content/468/2144/2361"><name> Algebraic structure of stochastic expansions and universally accurate simulation  </name><br>
</a>
<authors> K. Ebrahimi-Fard, A. Lundervold, S.J.A. Malham, H.Z. Munthe-Kaas, A. Wiese</authors>,
<journal> Proceedings of the Royal Society. Mathematical, Physical and Engineering Sciences, Volume 468 (2144), 2012 <br>
<links> <a href="http://arxiv.org/abs/1112.5571">arXiv version</a> </links>
</div>


<!-- ---------------------------------------------- -->

<div id="pub">
<a href="http://www.ams.org/books/conm/539/"><name> Hopf algebras of formal diffeomorphisms and numerical integration on manifolds </name><br>
</a>
<authors> A. Lundervold and H.Z. Munthe-Kaas</authors>,
<journal> Contemporary Mathematics, 539, 2011  <br>
<links> <a href="http://arxiv.org/abs/0905.0087">arXiv version</a> </links>
</div>

<!-- ---------------------------------------------- -->

<h3> Preprints </h3>

<div id="pub">
<name> Noncommutative Bell polynomials </name><br>
<authors> K. Ebrahimi-Fard, A. Lundervold and D. Manchon</authors>
</div>
